body {
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle, #9c0000, #820011, #660218, #4a0918, #2d0c14, #220a10, #160509, #000000, #000000, #000000, #000000, #000000);  
}

.contenitore{
    background-color: darkgray;
    border-radius: 15px;
    width: 50%;
    justify-content: center;
    margin-top: 135px;

}
h1{
    text-align: center;
}
.contenitore_immagine{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.box{
    display: flex;
}

.link > a {
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 50px;
}
.testo{
    width: 40%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: beige;
    width: fit-content;
    margin-bottom: 180px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

}
.link{
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}
