body {
    display: flex;   /*caratteri allineati in riga*/
    justify-content: center;/*centro il contenuto*/
    background-image: radial-gradient(circle, #bfbbe8, #8ab9eb, #3db8dd, #00b3b9, #00aa85, #009c7a, #008f6f, #008264, #00717d, #005c9b, #0040a4, #210385);  /*colore di sfondo gradiente*/
}

.contenitore{
    background-color: darkgray; /*colore di sfondo*/
    border-radius: 15px; /*il bordo arrotondato*/
    width: 50%;/*larghezza del contenitore*/
    justify-content: center;
    margin-top: 135px;   /*aumento la distanza tra il contentitore e la parte alta del sito*/

}
h1{
    text-align: center;  /* allineo il testo al centro*/
}
.contenitore_immagine{
    padding-left: 10px; /*aumento la distanza tra il testo e il contentitore*/
    padding-right: 10px;
    border-radius: 10px;
}
.box{
    display: flex;
}

.link > a {
    padding: 5px;
    color: white;/* /*colore del testo*/
    background-color: blue;
    border-radius: 5px;
    padding-left: 12px;
    margin-left: 50px;
}
.testo{
    width: 40%;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: beige;
    width: fit-content;
    margin-bottom: 180px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

}
.link{
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}
